@{
    ViewBag.Title = "Contact";
}
<h1>contact View of Home</h1>
<form method="post">
    <input type="text" name="email" id="useremail" />
    <input id="Submit1" type="submit" value="Contact Us Via Email" />
</form>